<?xml version="1.0" encoding="UTF-8"?>
<!-- configuration file for LogBack (slf4J implementation) See here for more 
	details: http://gordondickens.com/wordpress/2013/03/27/sawing-through-the-java-loggers/ -->
<configuration scan="true" scanPeriod="30 seconds">

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<!-- To enable JMX Management -->
	<jmxConfigurator />

	<!-- 특정 유저의 사번을 설정해 두면 해당 유저의 log를 debug level로 출력해 볼 수 있다. -->
	<turboFilter class="ch.qos.logback.classic.turbo.DynamicThresholdFilter">
		<Key>userNo</Key>
		<DefaultThreshold>INFO</DefaultThreshold>
		<MDCValueLevelPair>
			<value>admin</value>
			<level>DEBUG</level>
		</MDCValueLevelPair>
	</turboFilter>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>


	<!--<logger name="org.hibernate" level="debug"/> -->
	<!-- Uncomment and add your logger here: <logger name="org.springframework.samples.service.service" 
		level="debug"/> -->

	<root>
		<appender-ref ref="console" />
	</root>

</configuration>
